.login {
    background-color: #fff;
    width: 350px;
    height: 300px;
    margin: 50px auto auto;
    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.registration {
    background-color: #fff;
    width: 350px;
    height: 360px;
    margin: 50px auto auto;
    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.auth-form {
    padding-top: 50px;
    padding-bottom: 20px;
}

.auth-input {
    width: 75%;
    margin-bottom: 10px;
    background: var(--background_color);
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--green);
}