:root {
    --green: #125223;
    --light_green: #6dbf83;
    --background_color: rgba(188, 188, 188, 0.4);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: var(--green);
    text-align: center;
}

a {
    text-decoration: none;
    outline: none;
}

hr {
    margin: 10px 0;
    color: var(--green);
}

input, button {
    border-radius: 5em;
    border: 0;
    outline: none;
    padding: 10px;
    background: transparent;
}

button {
    cursor: pointer;
}

.page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 12fr;
    grid-template-areas: "navigation body";
}

.navigation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    border-right: 1px solid var(--green);
    background-color: var(--background_color);
    grid-area: navigation;
    align-items: center;
}

.body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-area: body;
    grid-template-areas:
    "header"
    "content";
}

.header {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr;
    background-color: var(--background_color);
    align-items: center;
    grid-area: header;
}

.content {
    display: grid;
    grid-area: content;
    grid-template-columns: minmax(auto, 10fr) auto;
    grid-template-areas: "body filter";
}

.body {
    display: grid;
    grid-area: body;
}

.filter {
    display: none;
    grid-area: filter;
    grid-template-columns: repeat(1, auto);
    background-color: var(--background_color);
}

/* HEADER */

.search-input {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid var(--green);
    background: #fff;
}

.search-btn {
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
    border: 1px solid var(--green);
    background: linear-gradient(to right, var(--green), var(--light_green));
}

/* FILTER */

select {
    border-radius: 3em;
    width: 150px;
    outline: none;
    padding: 5px;
    margin: 10px;
}

.btn {
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
    border: 1px solid var(--green);
    background: linear-gradient(to right, var(--green), var(--light_green));
}