.product-new {
    background-color: #fff;
    width: 350px;
    height: 660px;
    margin: 50px auto auto;
    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.new-field {
    width: 75%;
    margin: 0 0 10px;
    background: var(--background_color);
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid var(--green);
    outline: none;
}

.price{
    width: 40%;
    margin: 0 0 10px;
    background: var(--background_color);
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid var(--green);
    outline: none;
}

.currency {
    width: 30%;
}

textarea{
    resize: none;
}