.products-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    margin: 1%;
    grid-gap: 1%;
}

.pages {
    display: grid;
}

.product-item {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.product-img img {
    padding-top: 5px;
    max-width: 200px;
    max-height: 150px;
}

.product-img {
    position: relative;
    text-align: center;
}

.product-new{
    color: black;
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: white;
    padding: 2px;
}

.product-sold {
    color: black;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
}

.product-price{
    color: black;
    padding: 2px;
    float: right;
    margin-right: 8px;
    margin-top: 5px;
}

.product-wish {
    float: left;
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5em;
    border: 1px solid #125223;
    padding: 0 2px;
    background-color: white;
}