.profile{
    width: 50%;
    height: 50%;
    margin: 2% auto auto;
}

.profile-options {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: var(--background_color);
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    border: 1px solid var(--green);
    padding: 2px 0;
}

.profile-image img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-top: 1%;
}

.profile-content div {
    margin: 1% auto;
}

.profile-edit {
    width: 60%;
    margin-bottom: 10px;
    background: var(--background_color);
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--green);
}

textarea {
    outline: none;
    resize: none;
}