.users-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.users {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    margin: 1%;
    grid-gap: 1%;
}

.pages {
    display: grid;
}

.user{
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.user-img img {
    border-radius: 50%;
    padding-top: 5px;
    max-width: 200px;
    max-height: 150px;
}

.user-img {
    position: relative;
    text-align: center;
}

.user-products {
    margin-bottom: 5px;
}